.language-wl .c {  color: #888;  font-style: italic; } /* Comments */
.language-wl .nb { font-weight: bold;  color: #555; }
.language-wl .ne { color: #902000; }
.language-wl .nf { color: #6e8413;  font-style: italic; }
.language-wl .nt { color: #007020;  font-style: italic;  font-weight: normal;  }
.language-wl .nv { color: #0e84b5; }
.language-wl .o { color: #555; }
.language-wl .p { color: #555;  font-weight: bold;}
.language-wl .s { color: #902000; }
.language-wl .err { color: #555; }
.language-wl .m { color: #000; }