
.language-mathematica,
.language-mma,
.language-nb,
.language-wl,
.language-wolfram,
.language-wolfram-language {
  // c - comments
  .c {
    color: #888;
    font-style: italic;
  }
  // special comment ::Section:: and :Author:
  .cp {
    color: #888;
    font-style: italic;
    font-weight: bold
  }
  // n - symbols
  .nv {
    color: #2e6d98;
  }
  // builtin symbols
  .nb {
    font-weight: bold;
    color: #555;
  }
  // Keywords: Module With Block
  .bp {
    font-weight: bold;
    color: #333;
  }
  // Operators
  .o {
    color: #555;
  }
  // Numbers
  .m {
    color: #833;
  }
  // Messages
  .nt {
    color: #555;
    font-weight: bold;
  }
  // Braces
  .p {
    color: #000;
    font-weight: bold;
  }
  // Slots
  .nf {
    color: #4e9d4e;
    font-style: italic;
  }
  // Strings
  .s {
    color: #555;
  }
  // Error
  .err {
    color: #ee5f5b;
  }
}
